<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1695">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Let's Collaborate</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-call.svg"
                                alt="phone icon" class="cs-icon" width="24" height="24" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Our Support</span>
                        <span class="cs-link-text">We are available for your 24/7 support. Call us at</span>
                        <a href="tel:888-4565-789" class="cs-link">+1 (888) 4565 789</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-message.svg"
                                alt="address icon" width="24" height="24" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email Us</span>
                        <span class="cs-link-text">Email your questions at</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">info@stitchconsulting.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1695" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="email" id="email-1695" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="tel" id="phone-1695" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-1695" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1695" placeholder="Write message..."></textarea>
            </label>
            <p class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Schedule Consultation</button>
            </p>
        </form>
    </div>

    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-form-bg-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-form-bg.png">
        <img loading="lazy" decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-form-bg.png"
                alt="wind turbine" width="650" height="613">
    </picture>
</section>
                                