---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->


<script>
    document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('#why-choose .cs-button');
    const boxContents = document.querySelectorAll('#why-choose .cs-box-content');

    // Function to show the corresponding box content and hide others
    function showBoxContent(button) {
        const filterValue = button.getAttribute('data-filter');

        boxContents.forEach(box => {
            if (box.getAttribute('data-box') === filterValue) {
                box.classList.remove('cs-hidden');
            } else {
                box.classList.add('cs-hidden');
            }
        });

        buttons.forEach(btn => {
            if (btn === button) {
                btn.classList.add('cs-active');
            } else {
                btn.classList.remove('cs-active');
            }
        });
    }

    // Add event listeners for all buttons
    buttons.forEach(button => {
        button.addEventListener('click', () => showBoxContent(button));
    });
});

                                
</script>

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Rising Tide Web Design</span>
            <h1 class="cs-title">Igniting Success in Every Business</h1>
            <p class="cs-text">
                Entrepreneurship thrives with the right tools. We craft digital solutions to empower your vision and achieve your goals.            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Who We Are</a>
                <a href="" class="cs-button-solid cs-button2">Get My Free Consultation</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/crashing_waves.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/crashing_waves.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/crashing_waves.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">Together, We Build Better Solutions</h2>
            <p class="cs-text">
                At Rising Tide Web Design, we provide comprehensive digital services tailored to meet the unique needs of small businesses. Whether it's crafting a website, optimizing your digital presence, or offering ongoing support, we're here to help you thrive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://cdn-icons-png.flaticon.com/512/1087/1087078.png" 
                        alt="Digital Marketing Icon" width="48" height="48" />
                </picture>
                <h3 class="cs-h3">Web Design & Development</h3>
                <p class="cs-item-text">
                    Custom-built, hand-coded websites designed to deliver results. No templates, just solutions crafted for your business.
                </p>
                <a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://cdn-icons-png.flaticon.com/512/850/850960.png" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Digital Marketing</h3>
                <p class="cs-item-text">
                    Boost your online presence with tailored SEO, content strategies, and social media campaigns that drive traffic and conversions.
                </p>
                <a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://cdn-icons-png.flaticon.com/512/1087/1087078.png" 
                        alt="Digital Marketing Icon" width="48" height="48" />

                </picture>
                <h3 class="cs-h3"> Branding & Graphic Design</h3>
                <p class="cs-item-text">
                    Build a strong, memorable identity with cohesive branding and professional visuals that resonate with your audience.
                </p>
                <a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-gear.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Technical Support & Maintenance</h3>
                <p class="cs-item-text">
                    From updates to troubleshooting, we ensure your digital tools stay secure and efficient so you can focus on your business.
                </p>
                <a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/code.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/code.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/code.jpg" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/coding_hand.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/coding_hand.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/coding_hand.jpg" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">Crafting Digital Solutions That Elevate Your Business            </h2>
            <p class="cs-text">
                At Rising Tide Web Design, we believe in empowering small businesses with custom websites, branding, and digital strategies designed to drive growth. Our philosophy is simple: when your business succeeds, we succeed. That’s why we prioritize personalized solutions, ensuring every project meets your unique needs and goals.
                <br/><br/>
                Whether you’re looking to enhance your online presence, strengthen your brand, or boost conversions, we’re here to help your business rise above the competition. Together, let’s create something extraordinary.      </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Explore Our Recently Completed Work</h2>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/task_homeScreen.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/task_homeScreen.png">
                        <img loading="lazy" decoding="async" src="/assets/images/task_homeScreen.png" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Task Remodeling</h3>
                            <span class="cs-desc">A Website for a Remodeling Company</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">High Satisfaction Accounting</h3>
                            <span class="cs-desc">A Website for an Accountanting Company</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/talkdirty_homeScreen.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/talkdirty_homeScreen.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/talkdirty_homeScreen.png" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Talk Dirty To Me Cleaning Services</h3>
                            <span class="cs-desc">A Website for a Local Cleaning Company</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/oddcat_homeScreen.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/oddcat_homeScreen.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/oddcat_homeScreen.png" alt="modern home" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Odd Cat Studios</h3>
                            <span class="cs-desc">A Website for a Graphic Design Company</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
        </ul>
        <a href="/" class="cs-button-solid" style="display:none;">View All Works</a>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1282">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Statistics</span>
                <h2 class="cs-title">Building Websites That Make a Difference</h2>
            </div>
            <p class="cs-text">
                With proven success across numerous projects, we deliver results that help businesses thrive in a competitive digital landscape.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/two-people.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Increased Traffic
                </h3>
                <span class="cs-number">300%</span>
                <p class="cs-item-text">
                    Our clients see up to a 300% increase in website traffic after a redesign or marketing strategy implementation.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/line-graph.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Return on Investment
                </h3>
                <span class="cs-number">5x ROI</span>
                <p class="cs-item-text">
                    Our clients consistently see a 5x return on their investment within the first year, proving the power of a well-designed website and strategic marketing.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/briefcase2.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Conversion Rate Boost
                </h3>
                <span class="cs-number">70%+</span>
                <p class="cs-item-text">
                    Our redesigns and strategies lead to a 70% or higher boost in conversion rates, turning more visitors into loyal customers.                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/three-bars.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Revenue Growth
                </h3>
                <span class="cs-number">50%+</span>
                <p class="cs-item-text">
                    On average, our clients experience over a 50% increase in revenue within their first year after launching their new website.                </p>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/orange-waves.png" alt="waves">
    </picture>
</section>


<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!-- Replace with an image of a team or workspace -->
                <source media="(max-width: 600px)" srcset="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <source media="(min-width: 601px)" srcset="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <img loading="lazy" decoding="async" src="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="professional team" width="562" height="568">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Elevate Your Business with Exceptional Web Solutions</h2>
        </div>
        <div class="cs-flex">
            <div class="cs-box">
                <div class="cs-box-content" data-box="one">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios-filled/50/goal--v1.png" alt="mission icon" width="62" height="62">
                    <h3 class="cs-h3">A Partnership Focused on Your Success</h3>
                    <p class="cs-box-text">
                        We believe in building lasting partnerships. Our mission is to provide personalized web solutions that reflect your vision and elevate your business. With a focus on open communication and attention to detail, we ensure every project exceeds expectations.
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="two">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios/50/circuit.png" alt="technology icon" width="62" height="62">
                    <h3 class="cs-h3">Designed for Performance & Longevity</h3>
                    <p class="cs-box-text">
                        Our team uses the latest technologies to deliver high-performance websites that are secure, scalable, and future-proof. From seamless integrations to fast load times, we design with both your current and future needs in mind.
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="three">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://img.icons8.com/carbon-copy/100/innovation.png" alt="talent icon" width="62" height="62">
                    <h3 class="cs-h3">Your Dream Team, At Your Service</h3>
                    <p class="cs-box-text">
                        Our highly skilled designers and developers are passionate about creating elegant, functional websites. With an eye for aesthetics and a commitment to precision, we turn your ideas into visually stunning and user-friendly experiences.
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="four">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios-filled/50/like--v1.png" alt="support icon" width="62" height="62">
                    <h3 class="cs-h3">Dedicated Support Every Step of the Way</h3>
                    <p class="cs-box-text">
                        We pride ourselves on providing unparalleled customer service. From project planning to post-launch support, our team is here to answer questions, provide updates, and ensure a seamless experience for you and your team.
                    </p>
                </div>
            </div>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios-filled/50/goal--v1.png" alt="mission icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Our Mission & Approach</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://cdn-icons-png.flaticon.com/512/892/892692.png" alt="arrow" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="two">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios/50/circuit.png" alt="technology icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Cutting-Edge Tools & Technology</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://cdn-icons-png.flaticon.com/512/892/892692.png" alt="arrow" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="three">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/carbon-copy/100/innovation.png" alt="talent icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">World-Class Talent</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://cdn-icons-png.flaticon.com/512/892/892692.png" alt="arrow" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="four">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/ios-filled/50/like--v1.png" alt="support icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Service That Goes Beyond</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://cdn-icons-png.flaticon.com/512/892/892692.png" alt="arrow" width="32" height="32">
                </button>
            </div>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-64">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">John Doe</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Jane Smith</span>
                <span class="cs-desc">California</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Thomas Madden</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
        </ul>
        <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a>
    </div>
</section>
                                


    {% include 'components/cta.html' %}
{% endblock %}